body {
    background-color: wheat;
}
.container {
    /* background-color: rgb(230, 89, 199); */
    /* padding: 10px; */
    /* border-radius: 1em; */
    height: 500px;
    width: 450px;
    margin-top: 75px;
    margin-left: 500px;
}
.button_game {
    margin-left: auto;
    width: auto;
    height: auto;
}

td .button {
    background-color: darkcyan;
    color: white;
    border: solid black 0.2px;
    width: 100%;
    border-radius: 5px;
    height: 100%;
    outline: none;
}
.button:active {
    background: #00ff22;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}
.player {
    /* background-color: #00ff22; */
    margin: 15px;
}
.sign {
    margin-left: 15px;
    width: 20px;
    height: auto;
    text-align: center;
}